.app-container {
    display: flex;
    height: 100vh;
    background-color: #f8f9fb;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-content {
    padding: 0px 7px;
    overflow-y: auto;
    height: calc(100vh - 70px);
}

