.view-request-container {
    width: 98%;
    margin: 20px auto;
    padding: 17px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    TEXT-TRANSFORM: UPPERCASE;
}

.view-request-btn {
    background-color: #077540;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 2px 0px 15px;
    text-align: center;
    padding: 10px 10px;
    width: 130px;
    margin-bottom: 25px;
    TEXT-TRANSFORM: UPPERCASE;
}

.view-filter-section {
    display: flex;
    border: 1.5px solid #0055a2;
    padding: 15px;
    margin-bottom: 10px;
    gap: 10px;
}

.view-filter-section input,
.view-filter-section select {
    padding: 6px 10px;
    border: 2px solid #ccc;
    font-size: 12px;
    font-weight: bold;
    color: black;
    TEXT-TRANSFORM: UPPERCASE;
}

.view-filter-section input {
    padding: 3px 8px;
    width: 90px;
    border: 2px solid #ccc;
    font-size: 13px;
    text-align: center;
}

.view-filter-section select {
    width: 210px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg%20fill%3D'%23666'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M7%2010l5%205%205-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
}

.view-request-task-button {
    background-color: #0055a2;
    color: white;
    border: none;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    margin-left: 180px;
}

.view-request-task-button:hover {
    background-color: darkgray;
}

.export-search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    gap: 10px;
    flex-wrap: wrap;

}

.export-buttons button {
    padding: 6px 10px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: darkgray;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
}

.view-request-search-input {
    padding: 6px 10px;
    border: 2px solid #ccc;
    width: 200px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    font-size: 12px;
}


.view-request-table-container {
    overflow-x: auto;
    border: 1.5px solid #00a249;
}

.view-request-table {
    width: 100%;
    border-collapse: collapse;
}

.view-request-table th,
.view-request-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font-size: 12px;
}

.view-request-table thead {
    position: relative;
    background-color: #f9f9f9;
}

.hr-green {
    border: none;
    height: 3px;
    background-color: darkgreen;
    margin-top: 0px;
}

.hr-blue {
    border: none;
    height: 3px;
    background-color: #0055a2;
    margin: 1px;
}